<div class="col-sm-12">
    <button type="button" class="btn btn-default" ng-click="load_obj()">load obj file</button>
</div>
<br/>
<h4>Cube</h4>
<div class="col-sm-12">
    <button type="button" class="btn btn-default" ng-click="draw_cube()">add cube randomly</button>

    <form class="form-inline">
        <div class="form-group">
            <label>x</label>
            <input type="number" class="form-control" ng-model="configs.position.x" required>
        </div>
        <div class="form-group">
            <label>y</label>
            <input type="number" class="form-control" ng-model="configs.position.y" required>
        </div>
        <div class="form-group">
            <label>z</label>
            <input type="number" class="form-control" ng-model="configs.position.z" required>
        </div>

        <button type="submit" class="btn btn-default" ng-click="draw_cube(configs.position)">add cube on certion position</button>
    </form>
</div>

<h4>Camera</h4>
<div class="col-sm-12">
    <form class="form-inline">
        <div class="form-group">
            <label>x</label>
            <input type="number" class="form-control" ng-model="configs.camera.x" required ng-value="0" >
        </div>
        <div class="form-group">
            <label>y</label>
            <input type="number" class="form-control" ng-model="configs.camera.y" required ng-value="0" >
        </div>
        <div class="form-group">
            <label>z</label>
            <input type="number" class="form-control" ng-model="configs.camera.z" required ng-value="100" >
        </div>

        <button type="submit" class="btn btn-default" ng-click="update_camera(configs.camera)">Update camera</button>
    </form>
</div>

<br/>

<h4>Canvas</h4>
<div class="col-sm-12" id="threejs-canvas"></div>

<h4>Elements</h4>
<div class="col-sm-12">
    <ul>
        <li ng-repeat="element in elements">
            <a href="" ng-click="select_element(element)">
                <h5>{{element['object']['uuid']}}</h5>

                {{element['object']['position']}}
            </a>
        </li>
    </ul>
</div>

<br/>

<div ng-if="selected != null">
    <h4>Selected</h4>
    <div class="col-sm-12">
        <h5>{{selected['object']['uuid']}}</h5>

        <form class="form-inline">
            <div class="form-group">
                <label>x</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="move_element('x','+')">+</button>
                    </span>
                    <input type="number" class="form-control" ng-model="selected['object']['position'].x" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="move_element('x','-')">-</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>y</label>
                <div class="input-group">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="move_element('y','+')">+</button>
                        </span>
                    <input type="number" class="form-control" ng-model="selected['object']['position'].y" required>
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="move_element('y','-')">-</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>z</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="move_element('z','+')">+</button>
                    </span>
                    <input type="number" class="form-control" ng-model="selected['object']['position'].z" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="move_element('z','-')">-</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
